@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --spacing-regular: 8px;
  --spacing-medium: 16px;
  --spacing-small: 4px;

  --font-small: 0.5rem;
  --font-medium: 1rem;
  --font-large: 2rem;
  --font-xl: 4rem;

  --font-semibold: 600;
  --font-family-1: "Kalam", cursive;
  --font-family-2: "Merienda", cursive;
}
body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-family-2);
  margin: var(--spacing-medium) auto;
  max-width: 800px;
  background: linear-gradient(#e66465, #9198e5);
}

/* style for scrollbar  */
.hourly-container::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: var(--spacing-medium);
  height: var(--spacing-small);
}
.hourly-container::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.hourly-container::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

header h1 {
  text-align: center;
}

/* style the headings */
h1 {
  margin-bottom: var(--spacing-medium);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "search search"
    "current current"
    "hourly hourly"
    "line line"
    "fivedays fivedays"
    "feelslike humidity";
  gap: var(--spacing-regular);
}
.container,
.container > section {
  border: 2px solid yellowgreen;
  padding: var(--spacing-medium);
}

#search {
  grid-area: search;
  border-radius: var(--spacing-regular);
  font-size: var(--font-large);
  padding: var(--spacing-regular);
  font-family: var(--font-family-2);
}

#search::placeholder {
  padding-left: var(--spacing-regular);
}

/* stlying for curent forcast */
#current-forecast {
  grid-area: current;
  /* text-align: center; */
  display: grid;
  grid-template-areas:
    "city city"
    "temp desc"
    "temp date"
    "temp low-high";
  justify-content: space-evenly;
}

#current-forecast .city-name {
  grid-area: city;
  text-align: center;
}

#current-forecast .now-temp {
  font-size: var(--font-xl);
  grid-area: temp;
}
#current-forecast .temp-desc {
  text-transform: capitalize;
  grid-area: desc;
}
#current-forecast .temp-desc,
#current-forecast .now-date,
#current-forecast .min-max-temp {
  font-weight: var(--font-semibold);
  font-size: var(--font-medium);
  margin: var(--spacing-regular);
}

/* style for hourly forcast */
#hourly-forecast {
  grid-area: hourly;
  text-align: center;
  -moz-overflow-x: auto;
  overflow-x: auto;
  display: grid;
}
#hourly-forecast .hourly-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(100px, 1fr);
  overflow-x: auto;

  gap: var(--spacing-regular);
}

#hourly-forecast .hourly-container .icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

#hourly-forecast .hourly-container .temp {
  font-size: var(--font-medium);
  font-weight: var(--font-semibold);
}

.sep-line {
  grid-area: line;
}

/* sytle for 5 days forecast */

#five-days-forecast {
  grid-area: fivedays;
  text-align: center;
}
#five-days-forecast .five-day-container {
  display: grid;
  grid-auto-flow: row;
}

.five-day-container .day-wise-forecast {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  gap: var(--spacing-medium);
  margin-bottom: var(--spacing-regular);
  align-items: center;
}

.five-day-container .day-wise-forecast .min-temp,
.five-day-container .day-wise-forecast .max-temp {
  font-size: var(--font-medium);
  font-weight: var(--font-semibold);
}
.five-day-container .day-wise-forecast .icon {
  width: 75px;
  height: 75px;
}
/* style for feels like */

#feels-like {
  grid-area: feelslike;
  text-align: center;
  display: grid;
  align-content: center;
}
.feels-like-temp,
.humidity-percent {
  font-weight: var(--font-semibold);
  font-size: var(--font-medium);
  margin: var(--spacing-regular);
}
#humidity {
  grid-area: humidity;
  text-align: center;
  display: grid;
  align-content: center;
}

@media (width>=650px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "search search search search"
      "current current current current"
      "line line line line"
      "hourly hourly fivedays fivedays"
      "feelslike humidity fivedays fivedays";
  }
}
